<nav class="main-nav">
    <h1>Explore Canada’s Natural Marvels</h1>
    <ul class="nav-links">
        <li>
            <a
                routerLink="/home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                Home
            </a>
        </li>
        <li>
            <a
                routerLink="/about"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                About
            </a>
        </li>
        <li>
            <a
                routerLink="/contact"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                Contact
            </a>
        </li>
        <li>
            <a
                routerLink="/signup"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                Join
            </a>
        </li>
    </ul>
</nav>
