.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    margin: 0;
    background-color: #a02626;
    color: #fff;
}

.nav-links {
    display: flex;
    width: 20%;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-links a:hover {
    color: #000;
    background-color: #fff;
}
.active {
    font-weight: bold;
    color: #007bff;
}
